:root {
	/* Colors by function */
	--fg: white;
	--bg: #050d1b;
	--bg-darker: #0b1a33;
	--shadow: #0a192f;
	--shadow-2: #1f3658;
	--muted: #536686;
	--selection-on-shadow: #8bb0ff33;

	/* Colors by name */
	--green: #1fda6d;
	--magenta: #b15be2;
	--orange: #e7802b;
	--yellow: #d1ad0a;
	--blue: #00aeff;
	--pink: #f163c2;
	--red: #e6322c;
	--cyan: #28d4eb;
}

@media (prefers-color-scheme: light) {
	:root {
		--fg: #050d1b;
		--bg: #e4f5fc;
		--bg-darker: #d0e1e9;
		--selection-on-shadow: #0b224927;
		--shadow: #c5dae2;
		--shadow-2: #96b4be;
		--muted: #536686;
		--green: #05b950;
		--magenta: #b15be2;
		--orange: #d36307;
		--yellow: #cf9800;
		--blue: #00aeff;
		--pink: #e22ba5;
		--red: #e6322c;
		--cyan: #17a2bb;
	}

	img[invert] {
		filter: invert(1);
	}
}

.hljs-attr {
	color: var(--orange) !important;
}
.hljs-number {
	color: var(--yellow) !important;
}
.hljs-string {
	color: var(--green) !important;
}
.hljs-punctuation {
	color: var(--muted) !important;
}
.hljs-literal {
	color: var(--yellow) !important;
}
